<div class = 'container'>
   <h1>Ask me anything!</h1>

   <form (ngSubmit)='onSubmit()' #questionForm='ngForm'>

      <div class = 'form-group'>
         <label for = 'question'>Question :</label>
         <input type = 'text' class = 'form-control' id = 'question' required
            [(ngModel)] = 'model.question' name = 'question'>
      </div>
      <br>
      <button type='submit' class='btn btn-success' [disabled]='questionForm.invalid'>Add</button>

   </form>

  <div ng-hide="hideAnswer" class="ng-hide">Hello</div>

</div>


