<div class = 'container'>
   <h1>Ask me anything!</h1>

   <form (ngSubmit)='onSubmit()' #questionForm='ngForm'>

      <div class = 'form-group'>
         <label for = 'question'>Question :</label>
         <input type = 'text' class = 'form-control' id = 'question' required
            [(ngModel)] = 'model.question' name = 'question'>
      </div>
      <br>
      <button type='submit' class='btn btn-success'>Add</button>

   </form>
   <br>
   <br>
    <div class = 'form-group'>
       <label for = 'question'>Answer :</label>
       <input type = 'text' class = 'form-control' id = 'answer' required
          [(ngModel)] = 'model.answer' name = 'answer'>
    </div>
</div>


